@charset "utf-8";
@import "../../styles/_theme.scss";


.header {
  position: fixed;
  height: 97px;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;

  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 4px 24px 0px rgba(168, 92, 249, 0.1);
    transition: 0.4s;
    z-index: -1;
  }

  &.active {
    &:after {
      height: 100%;
    }
  }

  :global(.w1200) {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .list {
    display: flex;
    align-items: center;
  }

  nav {
    display: flex;
    align-items: center;

    .item {
      cursor: pointer;
      margin-right: 68px;
      font-size: 20px;
      font-weight: 700;
      transition: color 0.3s;
      display: flex;
      align-items: center;

      &:hover {
        color: $mainColor;
      }

      &:global(.active) {
        color: $mainColor;
      }

      &:last-child {
        margin-right: 83px;
      }

      i {
        font-size: 12px;
        margin-left: 10px;
        transition: transform 0.4s;

        &.showSupportPopup {
          transform: rotate(180deg);
        }
      }
    }
  }

  .download {
    width: 190px;
    height: 50px;
    background: url("https://cdn-js.zzjiasuqi.com/html/home/download.png");
    cursor: pointer;

    &:hover {
      background-position-x: 190px;
    }

    &:active {
      background-position-x: 380px;
    }
  }
}